* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey700: hsl(0, 0%, 20%);
  --grey800: hsl(0, 0%, 12%);
  --grey900: hsl(0, 0%, 8%);
}

body {
  font-family: "Inter", sans-serif;
  background: var(--grey900);
  color: var(--white);
  line-height: 1.5;
}

main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background: var(--grey800);
  font-size: 0.875rem;
  padding: 1.5rem;
}

.card-img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.card-name-location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-location {
  color: var(--green);
  font-weight: 700;
}

.card-links {
  display: flex;
  flex-direction: column;
  rem;
  width: 100%;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--grey700);
  font-weight: 700;
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

li:hover {
  background: var(--green);
  cursor: pointer;
}

li:hover a {
  color: var(--grey700);
}

a {
  text-decoration: none;
  color: var(--white);
}

footer {
  text-align: center;
}
.attribution {
  font-size: 0.75rem;
  color: var(--white);
  text-align: center;
}
.attribution a {
  color: var(--white);
}

@media only screen and (min-width: 576px) {
  .card {
    max-width: 384px;
    padding: 2.5rem;
  }
}
